@import "fonts";
@import "variables";
@import "button";
@import "libs/normalize";

body {
	background: $background;
}

.wrapper {
	width: calc(100vw - 100px);
	height: 100%;
	background: #ffffff;
	margin: 45px auto;
	border-radius: 10px;
	max-width: 1400px;
	@media (max-width: 580px) {
		width: calc(100vw - 30px);
		margin-top: 20px;
	}
}
.header {
	border-bottom: 1px solid #f6f6f6;
	padding: 40px 0 49px 20px;

	&__logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
		img {
			margin-right: 17px;
		}

		h1 {
			margin: 0;
			font-size: 24px;
			font-weight: 800;
			line-height: 29px;
			letter-spacing: 0.01em;
		}
		p {
			margin: 0;
			font-family: Proxima Nova;
			font-size: 16px;
			font-weight: 400;
			line-height: 19px;
			letter-spacing: 0em;
			color: #7b7b7b;
		}
	}

	@media (max-width: 600px) {
		padding: 25px 0 29px 20px;
	}
	&__cart {
		.line-divided {
			height: 25px;
			width: 1px;
			background: #ffffff;
			opacity: 0.25;
			margin-left: 14px;
			margin-right: 14px;
		}
	}

	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 600px) {
			flex-direction: column;

			.header__cart {
				margin-top: 20px;
			}
		}
	}
}

.container {
	width: $container-width;
	margin: 0 auto;
}

.container--cart {
	max-width: 820px;
	margin: 90px auto;
	padding: 0 20px;
}

.content {
	padding: 40px 0;
	.block__filter {
		display: flex;
		flex-direction: row;

		justify-content: space-between;
		align-items: center;
		@media (max-width: 1180px) {
			.sort {
				b {
					display: none;
				}
			}
		}
		@media (max-width: 976px) {
			.sort__category {
				width: 100%;
				overflow: auto;
				margin-right: 15px;
				ul {
					width: 785px;
				}
			}
		}
		@media (max-width: 820px) {
			flex-direction: column-reverse;
			.sort {
				margin-bottom: 20px;
				margin-right: 0;
			}
		}

		.sort__category {
			ul {
				display: flex;
				margin-bottom: 20px;

				li {
					background: #f9f9f9;
					border-radius: 30px;
					padding: 13px 30px;
					margin-right: 10px;
					font-weight: bold;
					cursor: pointer;
					transition: background-color 0.2s ease-in-out;
					@include noselect();
					&.active {
						background-color: black;

						color: white;
					}
					&:active {
						background-color: darken(#f9f9f9, 5%);
					}
					&:hover {
						background-color: darken(#f9f9f9, 3%);
					}
				}
			}

			@media (max-width: 580px) {
				ul {
					li {
						padding: 8px 18px;
					}
				}
			}
		}
		.sort {
			display: relative;
			&__label {
				display: flex;
				align-items: center;

				svg {
					vertical-align: middle;
					margin-right: 8px;
					cursor: pointer;
					transform: rotate(0deg);
				}
				b {
					margin-right: 8px;
				}
				span {
					color: $orange;
					border-bottom: 1px dashed $orange;
					cursor: pointer;
					&:hover {
						#popular-sort {
							visibility: visible;
						}
					}
				}
			}

			&__popup {
				position: absolute;
				right: 50px;
				margin-top: 15px;
				background: #ffffff;
				box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
				border-radius: 10px;
				overflow: hidden;
				padding: 10px 0;
				width: 160px;

				ul {
					overflow: hidden;
					li {
						padding: 12px 20px;
						cursor: pointer;

						&.active,
						&:hover {
							background: rgba(254, 95, 30, 0.05);
						}

						&.active {
							font-weight: bold;
							color: $orange;
						}
					}
				}
			}
		}
	}

	&__title {
		margin: 35px 0;
		font-weight: 700;
		font-size: 32px;
		line-height: 39px;
		letter-spacing: 0.01em;
		color: #000000;
		margin-top: 25px;
	}
	&__error-info {
		margin: 100px auto;
		width: 500px;
		text-align: center;
		h2 {
			margin: 10px 0;
			font-weight: 700;
		}
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 11px;
		grid-row-gap: 0px;
		@media (max-width: 1400px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: 1070px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 730px) {
			grid-template-columns: repeat(1, 1fr);
		}

		.pizza-block {
			width: 280px;
			margin-bottom: 65px;
			display: flex;
			flex-direction: column;
			text-align: center;
			/* &:not(:nth-of-type(4n)) {
				margin-right: 35px;
			} */
			&-wrapper {
				display: flex;
				justify-content: center;
			}
			&__image {
				width: 260px;
				margin: 0 auto;
			}
			&__title {
				margin-bottom: 22px;
				font-weight: 800;
				font-size: 20px;
				line-height: 24px;
				text-align: center;
				letter-spacing: 0.01em;
				color: #000000;
			}
			&__options {
				width: 100%;
				height: 100%;
				background: #f3f3f3;
				border-radius: 10px;
				display: flex;
				flex-direction: column;
				padding: 6px;
				margin-bottom: 17px;

				ul {
					display: flex;
					flex: 1;
					&:first-of-type {
						margin-bottom: 6px;
					}
					li {
						padding: 8px;
						flex: 1;
						text-align: center;
						font-weight: 700;
						font-size: 14px;
						cursor: pointer;
						margin-right: 6px;
						@include noselect();
						&:last-child {
							margin-right: 0;
						}

						&.active {
							background: #ffffff;
							box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
							border-radius: 5px;
						}
					}
				}
			}
			&__bottom {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			&__price {
				font-weight: 700;
				font-size: 22px;
				line-height: 27px;
			}
		}
	}
}

.cart {
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.content__title {
		display: flex;
		align-items: center;

		svg {
			position: relative;
			top: 0;
			width: 30px;
			height: 30px;
			margin-right: 10px;
			path {
				stroke: $black;
				stroke-width: 1.9;
			}
		}
	}

	&__clear {
		display: flex;
		align-items: center;
		cursor: pointer;
		@include noselect();

		span {
			display: inline-block;
			margin-top: -2px;
			margin-left: 7px;
			color: #b6b6b6;
			font-size: 18px;
		}

		span,
		svg,
		path {
			transition: all $duration ease-in-out;
		}

		&:hover {
			svg {
				path {
					stroke: darken($color: #b6b6b6, $amount: 50);
				}
			}
			span {
				color: darken($color: #b6b6b6, $amount: 50);
			}
		}
	}
	&__items {
		display: flex;
		flex-direction: column;
	}
	&__item {
		display: flex;
		align-items: center;
		border-top: 1px solid $gray-line;
		padding: 30px 0;
		&--info {
			display: flex;
			flex: 40%;
			align-items: center;
			img {
				width: 80px;
				height: 80px;
				margin-right: 15px;
			}
		}
		&--title {
			h3 {
				font-weight: 700;
				font-size: 22px;
			}
			span {
				font-weight: 400;
				font-size: 18px;
				line-height: 22px;
				color: #8d8d8d;
			}
		}
		&--count {
			display: flex;
			flex: 20%;
			align-items: center;
			justify-content: center;
			b {
				margin: 0 12px;
			}
		}
		&--price {
			flex: 20%;
			text-align: center;
		}
		.button--grey {
			span {
				font-size: 13px;
			}
		}
	}
	&__total-info {
		display: flex;
		justify-content: space-between;
		font-size: 22px;
		padding: 10px 0 40px;
		span {
			color: $orange;
			font-weight: 700;
		}
	}
	&__buttons {
		display: flex;
		justify-content: space-between;
	}
	&--empty {
		margin: 0 auto;
		text-align: center;
		width: 560px;
		h2 {
			font-weight: 700;
			font-size: 32px;
			margin-bottom: 10px;
		}
		p {
			font-size: 17px;
			line-height: 20px;
			color: #777777;
			opacity: 0.7;
		}
		img {
			display: block;
			margin: 35px auto 60px;
			width: 300px;
		}
		.button--black {
			font-weight: 700;
			padding: 12px 0 14px;
			margin: 0 auto;
			width: 230px;
		}
	}
}
